@import url(./__item/photo-grid__item.css);
.photo-grid {
    max-width: calc(1440px - (128px * 2));
    display: grid;
    margin: 0 auto;
    padding-top: 62px;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

@media (max-width: 1200px) {
    .photo-grid {
        max-width: calc(1024px - (48px * 2));
        grid-template-columns: repeat(auto-fill, 300px);
        grid-row-gap: 14px;
        grid-column-gap: 14px;
    }
}

@media (max-width: 1023px) {
    .photo-grid {
        max-width: calc(768px - (24px * 2));
        grid-template-columns: repeat(auto-fill, 352px);
        grid-row-gap: 16px;
        grid-column-gap: 16px;
    }
}

@media (max-width: 767px) {
    .photo-grid {
        max-width: calc(375px - (16px * 2));
        grid-template-columns: 1fr;
        padding-top: 57px;
    }
}

@media (max-width: 424px) {
    .photo-grid {
        max-width: 343px;
        padding-top: 24px;
    }
}

@media (max-width: 374px) {
    .photo-grid {
        max-width: 288px;
    }
}
