@import url(./_active/header__lang_active.css);
.header__lang {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}

.header__lang:hover {
    opacity: .5;
}


/*мобильные устройства 1-2 */

@media screen and (max-width: 425px) {
    .header__lang {
        font-size: 1.125em;
    }
}
