.comment__author {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    margin: 24px 0 0;

}

@media (max-width: 1023px) {
    .comment__author {
        order: 1;
        margin-top: 16px;
        text-align: center;
    }
}
