@import url(./__article/intro__article.css);
@import url(./__title/intro__title.css);
@import url(./__icontent-row/intro__content-row.css);
@import url(./__text/intro__text.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__paragraph/intro__paragraph.css);
@import url(./__paragraph-numbers/intro__paragraph-numbers.css);
.intro {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 80px;
}

@media screen and (max-width: 1100px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {
    .intro {
        margin: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 0 16px;
    }
}