.lead__caption {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: 16px;
}

@media screen and (max-width: 800px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
