.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}


/*мобильные устройства 1-2 */

@media screen and (max-width: 724px) {
  .footer__list {
    flex-direction: column;
  }
}
