.comments__content-title {
    line-height: 108.9%;
    text-align: center;
    font-size: 72px;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .comments__content-title {
        width: 70%;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 620px) {
    .comments__content-title {
        font-size: 32px;
        line-height: 35px;
        width: 100%;
    }
}
