.video__container {
  max-width: 1184px;
  min-height: 323px;
  display: flex;
  margin: 68px auto 0;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .video__container {
    max-width: 928px;
    min-height: 288px;
  }
}

@media screen and (max-width: 1023px) {
  .video__container {
    max-width: 720px;
    min-height: 200px;
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .video__container {
    max-width: 343px;
    flex-direction: column;
    margin-top: 24px;
  }
}

@media screen and (max-width: 374px) {
  .video__container {
    max-width: 288px;
  }
}
