.video__container {
    max-width: 1184px;
    min-height: 323px;
    display: flex;
    margin: 72px auto 0;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width:1279px) {
    .video__container {
        max-width: 928px;
    }
}

@media screen and (max-width:1023px) {
    .video__container {
        max-width: 720px;
        min-height: 200px;
        margin: 48px auto;
    }
}

@media screen and (max-width:767px) {
    .video__container {
        max-width: 343px;
        min-height: 200px;
        flex-direction: column;
        margin: 44px auto 28px;
    }
}

@media screen and (max-width:374px) {
    .video__container {
        max-width: 288px;
        margin: 27px auto 22px;
    }
}
