.video__content-subtitle {
    line-height: 35px;
    text-align: center;
    max-width: 640px;
    font-size: 24px;
    margin: 48px auto 0;
}

@media (max-width: 768px) {
    .video__content-subtitle {
        font-size: 16px;
        line-height: 23px;
        margin-top: 24px;
        max-width: 343px;
    }
}

@media (max-width: 425px) {
    .video__content-subtitle {
        margin-top: 16px;
    }
}

@media (max-width: 360px) {
    .video__content-subtitle {
        max-width: 288px;
    }
}
