.intro__title {
    font-weight: 900;
    font-size: 3.375em;
    line-height: 1.1;
    margin: 0;
}

@media screen and (min-width: 456px) and (max-width: 740px) {
    .intro__title {
        font-size: 2em;
    }
}

@media screen and (max-width: 455px) {
    .intro__title {
        max-width: 250px;
        font-size: 2em;
    }
}
